In [1]:
import pandas as pd
import sqlite3

In [20]:
file = '/workspaces/api-bolsa/data/moeda/cotacao_atual_20231212_004236.csv'
df = pd.read_csv(file, delimiter=';', header=None)
# df = df.rename_axis('NomeIndice').reset_index()
display(df)

,0,1,2,3,4,5,6
0,NaN,NomeIndice,USDBRL,EURBRL,BTCBRL,USDBRLT,dt_igtao
1,0.0,moeda,USD,EUR,BTC,USD,2023-12-12
2,1.0,moeda_real,BRL,BRL,BRL,BRLT,2023-12-12
3,2.0,comparando,D贸lar Americano/Real Brasileiro,Euro/Real Brasileiro,Bitcoin/Real Brasileiro,D贸lar Americano/Real Brasileiro Turismo,2023-12-12
4,3.0,meximo,4.9359,5.3024,221578,4.955,2023-12-12
5,4.0,minimo,4.8941,5.271,216399,4.905,2023-12-12
6,5.0,variacao,0.0207,0.0011,1352,0.015,2023-12-12
7,6.0,porcentagem_variacao,0.42,0.02,0.62,0.3,2023-12-12
8,7.0,compra,4.9317,5.2984,218393,4.8,2023-12-12
9,8.0,venda,4.9327,5.3064,218393,5.1,2023-12-12
10,9.0,timestamp,1702070984,1702072769,1702143584,1702064160,2023-12-12
11,10.0,create_data,2023-12-08 18:29:44,2023-12-08 18:59:29,2023-12-09 14:39:44,2023-12-08 16:36:00,2023-12-12

In [19]:
df_drop = df.drop("Unnamed: 0", axis=0)
print(df_drop)

KeyError: "['Unnamed: 0'] not found in axis"

In [9]:
destino = '/workspaces/api-bolsa/database/db/dtbase_cotacaoMoeda.sqlite'
conn = sqlite3.connect(destino)
cur = conn.cursor()

In [14]:
cotacao = cur.execute("SELECT * FROM tb_cotMoeda;")
# full = full.fetchall()

for row in cotacao:
    print(row)

('moeda', 'USD', 'EUR', 'BTC', 'USD', '2023-12-12')

In [16]:
df.to_sql('tb_cotMoeda', conn, if_exists='append', index=False)

OperationalError: table tb_cotMoeda has no column named index